.map{
    .title{
        color: $primary-color-black;
        margin-bottom: 30px;
    }
    img{
        margin-bottom: 30px;
    }
    .text-standart{
        font-family: $font-family-mont-semiBold;
        color: $primary-color-light-black;
    }
}