.serv {
  &__main {
    position: relative;
    width: 100%;
    background: url(/assets/img/buttonTarget.png) center center no-repeat;
    background-size: cover;
    padding: 40px;
    margin-bottom: 50px;
    .title {
      color: $contrast-color;
      margin-bottom: 30px;
      max-width: 1060px;
    }
    .text-standart {
      font-family: $font-family-mont-regular;
      color: $contrast-color;
      margin-bottom: 50px;
      max-width: 1060px;
    }
    .button {
      display: inline-block;
      max-width: 320px;
      width: 100%;
    }
  }
  &__block {
    @include flex(space-between);
    max-width: 950px;
    width: 100%;
    margin-bottom: 50px;
  }
  &__service {
    @include flex($flex-direction: column, $align-items: baseline);
    max-width: 220px;
    width: 100%;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-family: $font-family-matahari-semiBold;
      color: $contrast-color;
      font-size: 21px;
    }
  }
  &__line {
    height: 120px;
    width: 1px;
    background: $primary-color-very-light;
    opacity: 0.2;
  }
  &__rectangle {
    position: absolute;
    right: 0;
    bottom: 40px;
  }
  &__item {
    @include flex(space-between, $align-items: flex-start);
    width: 100%;
    padding: 40px;
    background: $primary-color-light;
    margin-bottom: 50px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  &__description {
    max-width: 1020px;
    width: 100%;
    h3 {
      color: $primary-color-black;
      margin-bottom: 30px;
    }
    .text-standart {
      font-family: $font-family-mont-regular;
      color: $search-color;
      margin-bottom: 30px;
    }
    .button {
      display: inline-block;
      max-width: 200px;
      width: 100%;
    }
  }
  &__form {
    max-width: 920px;
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 40px;
    border: 5px solid $primary-color-light;
    .title {
      color: $primary-color-black;
      margin-bottom: 30px;
    }
    form {
      @include flex(space-between, $flex-wrap: wrap);
      width: 100%;
    }
    .button {
      max-width: 320px;
      width: 100%;
      color: $contrast-color;
      cursor: pointer;
    }
    a {
      position: relative;
      font-family: $font-family-mont-semiBold;
      font-size: 15px;
      color: $primary-color;
      padding-left: 40px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.5px;
        width: 20px;
        height: 20px;
        background: url(/assets/img/serv__photo.png) center center no-repeat;
      }
    }
  }
  &__input,
  &__textarea {
    position: relative;
    flex-basis: 45%;
    height: 65px;
    margin-bottom: 30px;
    input {
      width: 100%;
      font-family: $font-family-matahari-semiBold;
      font-size: $sub-title-fz;
      color: $primary-color;
      padding-bottom: 13px;
      border: 0;
      border-bottom: 3px solid $primary-color-light;
      @include transition(0.3s);
      // &:required {
      //   border-bottom: 3px solid $primary-color;
      // }
      // &:invalid {
      //   border-bottom: 3px solid $primary-color-light;
      // }
      &:valid {
        border-bottom: 3px solid $primary-color;
      }
    }
    label {
      position: absolute;
      left: 0;
      bottom: 0;
      font-family: $font-family-mont-semiBold;
      font-size: $small-fz;
      color: $grey-black;
    }
  }
  &__textarea {
    flex-basis: 100%;
  }
}
