.us-references {
  @include flex(space-between, $flex-wrap: wrap);
  margin-bottom: 50px;
  .title {
    color: $primary-color-black;
    margin-bottom: 30px;
  }
  a {
    position: relative;
    color: $primary-color;
    margin-bottom: 30px;
    margin-right: 31px;
    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 16px;
      background: url(/assets/img/us-references_link.png) no-repeat center center;
      right: -31px;
      top: 0;
    }
  }
  &__content {
      width: 100%;
    @include flex(space-between, $flex-wrap: wrap);
  }
  &__block {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 25px rgba(12, 58, 47, 0.05);
    p{
        font-family: $font-family-mont-heavy;
        font-size: 15px;
        color: $primary-color-black;
        margin-bottom: 20px;
    }
    a{
        position: relative;
        font-family: $font-family-matahari-semiBold;
        font-size: 15px;
        color: $primary-color;
        &::after{
            content: '';
            position: absolute;
            width: 14px;
            height: 10px;
            background: url(/assets/img/green-arrow.png) no-repeat center center;
            right: -24px;
            top: 2px;
        }
    }
  }
  &__img{
      max-width: 380px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 20px;
  }
}
