.woodworking{
    @include flex(space-between, $flex-wrap:wrap, $align-items: unset);
    &__img{
        flex-basis: 50%;
        margin-bottom: 40px;
        img{
            // width: 100%;
            object-fit: cover;
        }
    }
    &__info{
        flex-basis: 45%;
        margin-bottom: 40px;
        .title{
            color: $primary-color-black;
            margin-bottom: 30px;
        }
        .text-standart{
            font-family: $font-family-mont-regular;
            color: $primary-color-light-black;
            line-height: 110%;
            b{
                font-family: $font-family-mont-semiBold;
            }
        }
    }
    .text-small{
        flex-basis: 40%;
        background: url(/assets/img/main_bg.png) center center no-repeat;
        background-size: cover;
        padding: 20px;
        color: $contrast-color;
        margin-top: -90px;
    }
    &__statistics{
        flex-basis: 57%;
        @include flex(space-between, $flex-wrap: wrap, $align-items: unset);
        .text-standart{
            color: $grey-black;
            flex-basis: 53%;
        }
        .button{
            flex-basis: 40%;
        }
    }
    &__block{
        flex-basis: 100%;
        max-height: 127px;
        padding: 30px;
        margin-bottom: 30px;
        border: 1px solid $primary-color-light;
        @include flex(space-between, $align-items: unset);
    }
    &__group{
        max-width: 170px;
        .title{
            color: $primary-color;
            margin-bottom: 10px;
        }
        .text-standart{
            font-family: $font-family-mont-regular;
            color: $grey-black;
        }
    }
    &__line{
        width: 1px;
        height: 100%;
        background: $primary-color-light;
    }
}