// fonts family
$font-family-mont-regular: "Mont Regular";

$font-family-mont-semiBold: "Mont SemiBold";

$font-family-mont-heavy: "Mont Heavy";

$font-family-matahari-regular: "Matahari Regular";

$font-family-matahari-semiBold: "Matahari SemiBold";

$font-family-matahari-heavy: "Matahari Heavy";

// fonts sizes
$title-fz: 31px;

$sub-title-fz: 22px;

$button-fz: 17px;

$standart-fz: 15px;

$small-fz: 13px;

// colors
$primary-color: #048860;

$primary-color-light-black: #2B5548;

$primary-color-black: #0E3A2D;

$primary-gradient: linear-gradient(90deg, #173E32 50%, #fff 70%);

$primary-color-light: #E5F0ED;

$primary-color-very-light: #F2F9F7;

$primary-color-very-light-opacity: #f2f9f745;

$search-color: #356053;

$contrast-color: #ffffff;

$footer-light: #C1D0CC;

$grey: #A3B6B0;

$grey-black: #748D86;